flows.json
[
    {
        "id": "a0ee866015175694",
        "type": "tab",
        "label": "CAN-Decoder",
        "disabled": false,
        "info": "This flow will read CAN bus messages\r\ncoming from other microcontrollers\r\nit will then decode those custom \r\nmessages, store it into a database, and \r\noutput live readings into a dashboard.",
        "env": []
    },
    {
        "id": "f62291b0924f1e70",
        "type": "tab",
        "label": "BoatDashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcd522d09ac1f881",
        "type": "tab",
        "label": "InfluxDB_Database",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "06d4226aa203027f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5c7b9ff1ed4302e",
        "type": "socketcan-config",
        "interface": "can0"
    },
    {
        "id": "72851d11b2cb37ff",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "hidden",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5f256e1afcdb4315",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "6px",
            "groupGap": "6px",
            "groupBorderRadius": "2px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "f58ee41c1d44b9f6",
        "type": "ui-page",
        "name": "Home",
        "ui": "72851d11b2cb37ff",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "5f256e1afcdb4315",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "90ebb2c809166208",
        "type": "ui-group",
        "name": "block",
        "page": "f58ee41c1d44b9f6",
        "width": "27",
        "height": "18",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e6f2f5b9c0b2776b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "CPPSolarBoat",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.4.95:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4ee5305a00f257b6",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "",
        "host": "10.204.102.252",
        "port": "8087",
        "tls": false
    },
    {
        "id": "dcb3fc913b139ba7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "CPPSolarBoat",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://10.110.245.69:8087",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "9afdf362c7955a7b",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "",
        "host": "localhost",
        "port": "8087",
        "tls": false
    },
    {
        "id": "4e1fad2f0d2431d5",
        "type": "socketcan-out",
        "z": "a0ee866015175694",
        "name": "socketcan-out",
        "config": "a5c7b9ff1ed4302e",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "bd46c3cce38de69d"
            ]
        ]
    },
    {
        "id": "bd46c3cce38de69d",
        "type": "debug",
        "z": "a0ee866015175694",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ca9fb179d77da6a",
        "type": "inject",
        "z": "a0ee866015175694",
        "name": "AutoDeployFlow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8b52e4caa2337620",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 8,
        "width": "3",
        "height": "3",
        "name": "Motor L",
        "label": "Motor L speed: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "dbd660c1f18b1cf3",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e887087e98302ead"
            ]
        ]
    },
    {
        "id": "e887087e98302ead",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 1",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "8b52e4caa2337620"
            ]
        ]
    },
    {
        "id": "c5ace8c2e171cd8b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "329a8c49fc763803"
            ]
        ]
    },
    {
        "id": "329a8c49fc763803",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 2",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "2c9119752d8b03a7"
            ]
        ]
    },
    {
        "id": "f0a538d09359f923",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "448f573912b8a867"
            ]
        ]
    },
    {
        "id": "448f573912b8a867",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 7",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "e607d66b94ae08d8"
            ]
        ]
    },
    {
        "id": "e607d66b94ae08d8",
        "type": "ui-gauge",
        "z": "f62291b0924f1e70",
        "name": "Rudder input",
        "group": "90ebb2c809166208",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder input",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "20efbbaa93a41916",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "3321d62c93dfc64a"
            ]
        ]
    },
    {
        "id": "3321d62c93dfc64a",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 8",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "03754648dc156b8b"
            ]
        ]
    },
    {
        "id": "03754648dc156b8b",
        "type": "ui-gauge",
        "z": "f62291b0924f1e70",
        "name": "Rudder postion",
        "group": "90ebb2c809166208",
        "order": 11,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder position",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2c9119752d8b03a7",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 1,
        "width": 2,
        "height": 0,
        "name": "Battery1 Temp",
        "label": "Battery1 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "675e3d652f1da454",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 12,
        "width": "3",
        "height": "3",
        "name": "Motor R",
        "label": "Motor R speed: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "02d58e37a84475bd",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "f314241c1464792c"
            ]
        ]
    },
    {
        "id": "f314241c1464792c",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 9",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "675e3d652f1da454"
            ]
        ]
    },
    {
        "id": "5fb63eaf24ae2a39",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 10,
        "width": "3",
        "height": "3",
        "name": "Power Produced",
        "label": "Power Produced: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "241d51c77b4cd494",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "01d176df6f7d4c44"
            ]
        ]
    },
    {
        "id": "01d176df6f7d4c44",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 10",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "5fb63eaf24ae2a39"
            ]
        ]
    },
    {
        "id": "2a1f7a20def60f90",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 9,
        "width": "3",
        "height": "3",
        "name": "Motor L Power Draw",
        "label": "Motor L power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "c98cc73e8af1281b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "43f57ff0765663c7"
            ]
        ]
    },
    {
        "id": "43f57ff0765663c7",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 11",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "2a1f7a20def60f90"
            ]
        ]
    },
    {
        "id": "0390d1f8cebd0305",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 13,
        "width": "3",
        "height": "3",
        "name": "Motor R Power Draw",
        "label": "Motor R power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "7bef01d9f9b09f7f",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "61bcb8ee8aeef28c"
            ]
        ]
    },
    {
        "id": "61bcb8ee8aeef28c",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 12",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "0390d1f8cebd0305"
            ]
        ]
    },
    {
        "id": "b19be83c3e64f4fc",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 14,
        "width": "3",
        "height": "3",
        "name": "Avg Motor power draw",
        "label": "Avg Motor power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "69c4514bbe414f6b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "2213fc042172f633"
            ]
        ]
    },
    {
        "id": "2213fc042172f633",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 13",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "b19be83c3e64f4fc"
            ]
        ]
    },
    {
        "id": "d8d1d53af995e3cf",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "383e82d385469803"
            ]
        ]
    },
    {
        "id": "383e82d385469803",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 6",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "39fb39a7c2624a6f"
            ]
        ]
    },
    {
        "id": "39fb39a7c2624a6f",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "Battery2 Temp",
        "label": "Battery2 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "802ce684e555f587",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "d3aa03c2d62c2ab9"
            ]
        ]
    },
    {
        "id": "d3aa03c2d62c2ab9",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 14",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "24351805e844630f"
            ]
        ]
    },
    {
        "id": "24351805e844630f",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 3,
        "width": 2,
        "height": 0,
        "name": "Battery3 Temp",
        "label": "Battery3 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cc471163bd182a0",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "0060471e3fe5cc6d"
            ]
        ]
    },
    {
        "id": "0060471e3fe5cc6d",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 15",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "fb5e12a5f714e05d"
            ]
        ]
    },
    {
        "id": "fb5e12a5f714e05d",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 4,
        "width": 2,
        "height": 0,
        "name": "Battery4 Temp",
        "label": "Battery4 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "995d8b4148d45d12",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f94c946618976903"
            ]
        ]
    },
    {
        "id": "f94c946618976903",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 16",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "c8d9a799c6076d05"
            ]
        ]
    },
    {
        "id": "c8d9a799c6076d05",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 5,
        "width": 2,
        "height": 0,
        "name": "Battery5 Temp",
        "label": "Battery5 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "358bfa151ead376e",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "eaf15827eaa34afe"
            ]
        ]
    },
    {
        "id": "eaf15827eaa34afe",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 3",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "16c109424df0eaa0"
            ]
        ]
    },
    {
        "id": "16c109424df0eaa0",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 6,
        "width": 2,
        "height": 0,
        "name": "Battery6 Temp",
        "label": "Battery6 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "335e09a150447e78",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "fe73c31d1d2c19ba"
            ]
        ]
    },
    {
        "id": "fe73c31d1d2c19ba",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 4",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "958677bee67cbea9"
            ]
        ]
    },
    {
        "id": "958677bee67cbea9",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 15,
        "width": 3,
        "height": 0,
        "name": "Panel Temp:",
        "label": "Panel Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "17c5a902ce589425",
        "type": "change",
        "z": "bcd522d09ac1f881",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.timestamp",
                "pt": "msg",
                "to": "iso",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "67e6ad7c2b0216a1"
            ]
        ]
    },
    {
        "id": "d6a13a53d8b11468",
        "type": "inject",
        "z": "bcd522d09ac1f881",
        "name": "datapoint point",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50* $random()",
        "payloadType": "jsonata",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "17c5a902ce589425"
            ]
        ]
    },
    {
        "id": "67e6ad7c2b0216a1",
        "type": "influxdb out",
        "z": "bcd522d09ac1f881",
        "influxdb": "dcb3fc913b139ba7",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "CPPSolarBoat",
        "bucket": "influx-test",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "457a4fd25e881fe1",
        "type": "function",
        "z": "06d4226aa203027f",
        "name": "Mock Data",
        "func": "msg.payload = {\n  // You bucket\n  // Optional (it can be defined in the node credentials settings)\n  bucket: 'influx-test',\n\n  // Precision of timestamp\n  // Optional\n  // Can be `ns` (nanoseconds),\n  //        `us` (microseconds),\n  //        `ms` (milliseconds),\n  //        `s` (seconds).\n  // The default is `ns`\n  // Note: if you set the `timestamp` field to `Date.now()`, you have to set the `precision` to `ms`\n  precision: 'ms',\n\n  // Data to send to InfluxDB\n  // Can be an array of objects or only one object\n  data: [\n    {\n      measurement: 'machinerySensor',\n\n      tags: {\n        deviceId: 'gyh43',\n        hardwareVersion: '1.0.2',\n        softwareVersion: '2.5.1',\n        location: 'factory-1'\n      },\n\n      fields: {\n        temperature: Math.random()*10,\n        humidity: Math.random()*20,\n        vibrations: Math.random()*12,\n        batteryVoltage: Math.random()\n      },\n\n      timestamp: Date.now()\n    },\n\n    // More data can be send here, simply re add an object\n    // { ... },\n  ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "a4301df346c5e0f6",
                "13d7862463f106b2"
            ]
        ]
    },
    {
        "id": "5358e40fa998b423",
        "type": "inject",
        "z": "06d4226aa203027f",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "457a4fd25e881fe1"
            ]
        ]
    },
    {
        "id": "a4301df346c5e0f6",
        "type": "debug",
        "z": "06d4226aa203027f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "13d7862463f106b2",
        "type": "Stackhero-InfluxDB-v2-write",
        "z": "06d4226aa203027f",
        "server": "9afdf362c7955a7b",
        "name": "",
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    }
]