flows.json
[
    {
        "id": "a0ee866015175694",
        "type": "tab",
        "label": "CAN-Decoder",
        "disabled": false,
        "info": "This flow will read CAN bus messages\r\ncoming from other microcontrollers\r\nit will then decode those custom \r\nmessages, store it into a database, and \r\noutput live readings into a dashboard.",
        "env": []
    },
    {
        "id": "f62291b0924f1e70",
        "type": "tab",
        "label": "BoatDashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcd522d09ac1f881",
        "type": "tab",
        "label": "InfluxDB_Database",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "06d4226aa203027f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f6ce0af4b3f21950",
        "type": "tab",
        "label": "BoatDashboard",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a5c7b9ff1ed4302e",
        "type": "socketcan-config",
        "interface": "can0"
    },
    {
        "id": "72851d11b2cb37ff",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "hidden",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "5f256e1afcdb4315",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "6px",
            "groupGap": "6px",
            "groupBorderRadius": "2px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "f58ee41c1d44b9f6",
        "type": "ui-page",
        "name": "Home",
        "ui": "72851d11b2cb37ff",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "5f256e1afcdb4315",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "90ebb2c809166208",
        "type": "ui-group",
        "name": "block",
        "page": "f58ee41c1d44b9f6",
        "width": "27",
        "height": "18",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e6f2f5b9c0b2776b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "CPPSolarBoat",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.4.95:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4ee5305a00f257b6",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "",
        "host": "10.204.102.252",
        "port": "8087",
        "tls": false
    },
    {
        "id": "dcb3fc913b139ba7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "CPPSolarBoat",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8087",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "9afdf362c7955a7b",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "",
        "host": "localhost",
        "port": "8087",
        "tls": false
    },
    {
        "id": "2e11342c403dec52",
        "type": "ui-page",
        "name": "Page 2",
        "ui": "72851d11b2cb37ff",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "5f256e1afcdb4315",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "32dc719a9b082399",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8087",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "e86f499c9edb4a6d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "solarboatcpp",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8087",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "6db9f9b4ba633596",
        "type": "ui-group",
        "name": "Group 2",
        "page": "2e11342c403dec52",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4e1fad2f0d2431d5",
        "type": "socketcan-out",
        "z": "a0ee866015175694",
        "name": "socketcan-out",
        "config": "a5c7b9ff1ed4302e",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "c3b925e5cd27f4ad"
            ]
        ]
    },
    {
        "id": "bd46c3cce38de69d",
        "type": "debug",
        "z": "a0ee866015175694",
        "name": "debugOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "4ca9fb179d77da6a",
        "type": "inject",
        "z": "a0ee866015175694",
        "name": "AutoDeployFlow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c3b925e5cd27f4ad",
        "type": "function",
        "z": "a0ee866015175694",
        "name": "See_FDCAN_ID_as_HEX",
        "func": "if (msg.payload.canid !== undefined) {\n    msg.payload.canid = '0x' + msg.payload.canid.toString(16).toUpperCase();\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "bd46c3cce38de69d"
            ]
        ]
    },
    {
        "id": "8b52e4caa2337620",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 10,
        "width": "3",
        "height": "3",
        "name": "Motor L",
        "label": "Motor L speed: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "dbd660c1f18b1cf3",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e887087e98302ead"
            ]
        ]
    },
    {
        "id": "e887087e98302ead",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 1",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "8b52e4caa2337620"
            ]
        ]
    },
    {
        "id": "c5ace8c2e171cd8b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "329a8c49fc763803"
            ]
        ]
    },
    {
        "id": "329a8c49fc763803",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 2",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "2c9119752d8b03a7"
            ]
        ]
    },
    {
        "id": "f0a538d09359f923",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "448f573912b8a867"
            ]
        ]
    },
    {
        "id": "448f573912b8a867",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 7",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "e607d66b94ae08d8"
            ]
        ]
    },
    {
        "id": "e607d66b94ae08d8",
        "type": "ui-gauge",
        "z": "f62291b0924f1e70",
        "name": "Rudder input",
        "group": "90ebb2c809166208",
        "order": 11,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder input",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "20efbbaa93a41916",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "3321d62c93dfc64a"
            ]
        ]
    },
    {
        "id": "3321d62c93dfc64a",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 8",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "03754648dc156b8b"
            ]
        ]
    },
    {
        "id": "03754648dc156b8b",
        "type": "ui-gauge",
        "z": "f62291b0924f1e70",
        "name": "Rudder postion",
        "group": "90ebb2c809166208",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder position",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2c9119752d8b03a7",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 16,
        "width": 2,
        "height": 0,
        "name": "Battery1 Temp",
        "label": "Battery1 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "675e3d652f1da454",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 6,
        "width": "3",
        "height": "3",
        "name": "Motor R",
        "label": "Motor R speed: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "02d58e37a84475bd",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "f314241c1464792c"
            ]
        ]
    },
    {
        "id": "f314241c1464792c",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 9",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "675e3d652f1da454"
            ]
        ]
    },
    {
        "id": "5fb63eaf24ae2a39",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 8,
        "width": "3",
        "height": "3",
        "name": "Power Produced",
        "label": "Power Produced: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "241d51c77b4cd494",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "01d176df6f7d4c44"
            ]
        ]
    },
    {
        "id": "01d176df6f7d4c44",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 10",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "5fb63eaf24ae2a39"
            ]
        ]
    },
    {
        "id": "2a1f7a20def60f90",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 9,
        "width": "3",
        "height": "3",
        "name": "Motor L Power Draw",
        "label": "Motor L power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "c98cc73e8af1281b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "43f57ff0765663c7"
            ]
        ]
    },
    {
        "id": "43f57ff0765663c7",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 11",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "2a1f7a20def60f90"
            ]
        ]
    },
    {
        "id": "0390d1f8cebd0305",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 5,
        "width": "3",
        "height": "3",
        "name": "Motor R Power Draw",
        "label": "Motor R power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "7bef01d9f9b09f7f",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "61bcb8ee8aeef28c"
            ]
        ]
    },
    {
        "id": "61bcb8ee8aeef28c",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 12",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "0390d1f8cebd0305"
            ]
        ]
    },
    {
        "id": "b19be83c3e64f4fc",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 4,
        "width": "3",
        "height": "3",
        "name": "Avg Motor power draw",
        "label": "Avg Motor power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "69c4514bbe414f6b",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "2213fc042172f633"
            ]
        ]
    },
    {
        "id": "2213fc042172f633",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 13",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "b19be83c3e64f4fc"
            ]
        ]
    },
    {
        "id": "d8d1d53af995e3cf",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "383e82d385469803"
            ]
        ]
    },
    {
        "id": "383e82d385469803",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 6",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "39fb39a7c2624a6f"
            ]
        ]
    },
    {
        "id": "39fb39a7c2624a6f",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 15,
        "width": 2,
        "height": 0,
        "name": "Battery2 Temp",
        "label": "Battery2 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "802ce684e555f587",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "d3aa03c2d62c2ab9"
            ]
        ]
    },
    {
        "id": "d3aa03c2d62c2ab9",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 14",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "24351805e844630f"
            ]
        ]
    },
    {
        "id": "24351805e844630f",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 1,
        "width": 2,
        "height": 0,
        "name": "Battery3 Temp",
        "label": "Battery3 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cc471163bd182a0",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "0060471e3fe5cc6d"
            ]
        ]
    },
    {
        "id": "0060471e3fe5cc6d",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 15",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "fb5e12a5f714e05d"
            ]
        ]
    },
    {
        "id": "fb5e12a5f714e05d",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 14,
        "width": 2,
        "height": 0,
        "name": "Battery4 Temp",
        "label": "Battery4 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "995d8b4148d45d12",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f94c946618976903"
            ]
        ]
    },
    {
        "id": "f94c946618976903",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 16",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "c8d9a799c6076d05"
            ]
        ]
    },
    {
        "id": "c8d9a799c6076d05",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 13,
        "width": 2,
        "height": 0,
        "name": "Battery5 Temp",
        "label": "Battery5 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "358bfa151ead376e",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "eaf15827eaa34afe"
            ]
        ]
    },
    {
        "id": "eaf15827eaa34afe",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 3",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "16c109424df0eaa0"
            ]
        ]
    },
    {
        "id": "16c109424df0eaa0",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 12,
        "width": 2,
        "height": 0,
        "name": "Battery6 Temp",
        "label": "Battery6 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "335e09a150447e78",
        "type": "inject",
        "z": "f62291b0924f1e70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "fe73c31d1d2c19ba"
            ]
        ]
    },
    {
        "id": "fe73c31d1d2c19ba",
        "type": "function",
        "z": "f62291b0924f1e70",
        "name": "function 4",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "958677bee67cbea9"
            ]
        ]
    },
    {
        "id": "958677bee67cbea9",
        "type": "ui-text",
        "z": "f62291b0924f1e70",
        "group": "90ebb2c809166208",
        "order": 3,
        "width": 3,
        "height": 0,
        "name": "Panel Temp:",
        "label": "Panel Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "17c5a902ce589425",
        "type": "change",
        "z": "bcd522d09ac1f881",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.timestamp",
                "pt": "msg",
                "to": "iso",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "67e6ad7c2b0216a1"
            ]
        ]
    },
    {
        "id": "d6a13a53d8b11468",
        "type": "inject",
        "z": "bcd522d09ac1f881",
        "name": "datapoint point",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50* $random()",
        "payloadType": "jsonata",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "17c5a902ce589425"
            ]
        ]
    },
    {
        "id": "67e6ad7c2b0216a1",
        "type": "influxdb out",
        "z": "bcd522d09ac1f881",
        "influxdb": "32dc719a9b082399",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "CPPSolarBoat",
        "bucket": "testBucket2",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "457a4fd25e881fe1",
        "type": "function",
        "z": "06d4226aa203027f",
        "name": "Mock Data",
        "func": "const baseTags = {\n  deviceId: 'gyh43',\n  location: 'factory-1',\n  hardwareVersion: '1.0.2',\n  softwareVersion: '2.5.1',\n};\nconst now = Date.now();\n\nmsg.payload = {\n  bucket: \"testBucket2\",\n  precision: \"ms\",\n  data: [\n    {\n      measurement: \"motor\",\n      tags: baseTags,\n      fields: {\n        left_speed: Math.random() * 12,\n        left_power: Math.random() * 10,\n        right_speed: Math.random() * 12,\n        right_power: Math.random() * 20,\n        avg_power: Math.random() * 12,\n      },\n      timestamp: now\n    },\n    {\n      measurement: \"battery\",\n      tags: baseTags,\n      fields: {\n        battery1_temp: Math.random() * 10,\n        battery2_temp: Math.random() * 10,\n        battery3_temp: Math.random() * 10,\n        battery4_temp: Math.random() * 10,\n        battery5_temp: Math.random() * 10,\n        battery6_temp: Math.random() * 10,\n      },\n      timestamp: now\n    }\n  ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "a4301df346c5e0f6",
                "2a50b22a8fe60b1f"
            ]
        ]
    },
    {
        "id": "5358e40fa998b423",
        "type": "inject",
        "z": "06d4226aa203027f",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "457a4fd25e881fe1"
            ]
        ]
    },
    {
        "id": "a4301df346c5e0f6",
        "type": "debug",
        "z": "06d4226aa203027f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a50b22a8fe60b1f",
        "type": "influxdb out",
        "z": "06d4226aa203027f",
        "influxdb": "32dc719a9b082399",
        "name": "",
        "measurement": "battery",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "CPPSolarBoat",
        "bucket": "testBucket2",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "dfa0ef8dad7765ab",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "a18a37929722f478"
            ]
        ]
    },
    {
        "id": "527b699fb642e679",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7d4d81db881c4255"
            ]
        ]
    },
    {
        "id": "7d4d81db881c4255",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 2",
        "func": "// msg.payload is temperature in °C\nconst t = Number(msg.payload);\nmsg.payload = t;\n\n// pick your colors\nmsg.ui_update = msg.ui_update || {};\nmsg.ui_update.style = msg.ui_update.style || {};\n\n// red if >= 60, otherwise normal\nmsg.ui_update.style.color = (t >= 60) ? \"#ff0000\" : \"#00bcd4\";      // text/needle color\nmsg.ui_update.style[\"--gauge-fill\"] = (t >= 60) ? \"#ff0000\" : \"#00bcd4\"; // some widgets use CSS vars\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dce26520d8fec93d",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "5ad8a19ce52b8044"
            ]
        ]
    },
    {
        "id": "5ad8a19ce52b8044",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 7",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "bf92dd07f90fda7a"
            ]
        ]
    },
    {
        "id": "bf92dd07f90fda7a",
        "type": "ui-gauge",
        "z": "f6ce0af4b3f21950",
        "name": "Rudder input",
        "group": "6db9f9b4ba633596",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder input",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef3da6dc4fc0b40",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 8",
        "func": "msg.payload = (Math.random() * 70 - 35).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "98eb124b0b6bbbb9"
            ]
        ]
    },
    {
        "id": "98eb124b0b6bbbb9",
        "type": "ui-gauge",
        "z": "f6ce0af4b3f21950",
        "name": "Rudder postion",
        "group": "6db9f9b4ba633596",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Rudder position",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5c70d6",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-35",
        "max": "35",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a13bfee72633cc",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 10,
        "width": 2,
        "height": 0,
        "name": "Battery1 Temp",
        "label": "Battery1 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "<span class=\"{{msg.className}}\">     {{msg.payload}} °C </span> <style> .normal {     color: green;     font-weight: bold; }  .hot {     color: red;     font-weight: bold;     animation: flash 0.7s infinite; }  @keyframes flash {     0%   { opacity: 1; }     50%  { opacity: 0.2; }     100% { opacity: 1; } } </style>",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "bb4e4c0c2a145832",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "d4ea51f26dba9df1"
            ]
        ]
    },
    {
        "id": "d4ea51f26dba9df1",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 9",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "4588049260cb3631"
            ]
        ]
    },
    {
        "id": "d858092e43b4902d",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 8,
        "width": "3",
        "height": "3",
        "name": "Power Produced",
        "label": "Power Produced: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "d29abd21d1584dc2",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "248e56b89ad4e284"
            ]
        ]
    },
    {
        "id": "248e56b89ad4e284",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 10",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "d858092e43b4902d"
            ]
        ]
    },
    {
        "id": "718937904dc70e94",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 4,
        "width": "3",
        "height": "3",
        "name": "Motor L Power Draw",
        "label": "Motor L power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "ab3af0b4377fa682",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "b9a1b69a022b17d1"
            ]
        ]
    },
    {
        "id": "b9a1b69a022b17d1",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 11",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "718937904dc70e94"
            ]
        ]
    },
    {
        "id": "55a6a86997697310",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 6,
        "width": "3",
        "height": "3",
        "name": "Motor R Power Draw",
        "label": "Motor R power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "99a099f64f67b6b3",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "041c6d9a978fc158"
            ]
        ]
    },
    {
        "id": "041c6d9a978fc158",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 12",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 680,
        "wires": [
            [
                "55a6a86997697310"
            ]
        ]
    },
    {
        "id": "affad36b7b2f70a9",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 5,
        "width": "3",
        "height": "3",
        "name": "Avg Motor power draw",
        "label": "Avg Motor power: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "8c47e389b7addd03",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "c6dd619ab5457f78"
            ]
        ]
    },
    {
        "id": "c6dd619ab5457f78",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 13",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // One decimal: 45.3\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "affad36b7b2f70a9"
            ]
        ]
    },
    {
        "id": "3ca883122d34a7da",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "0915cb0bbbeafe7c"
            ]
        ]
    },
    {
        "id": "0915cb0bbbeafe7c",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 6",
        "func": "const THRESH = 60;\n\nfunction randTemp() {\n  let t = 20 + Math.random() * 50;  // 20..70\n  return Math.round(t * 10) / 10;\n}\n\n// Create 6 temps\nconst temps = Array.from({ length: 6 }, randTemp);\n\n// -------- Output 1: UI update (NO payload!) --------\n// Note: when adjusting series settings, include ALL series each time. :contentReference[oaicite:2]{index=2}\nconst updateMsg = {\n  ui_update: {\n    chartOptions: {\n      series: [\n        { name: \"Normal\", type: \"bar\", stack: \"temps\", itemStyle: { color: \"#00bcd4\" } },\n        { name: \"Hot\", type: \"bar\", stack: \"temps\", itemStyle: { color: \"red\" } }\n      ]\n    }\n  }\n};\n\n// -------- Output 2: Data (Replace) --------\nconst payload = [];\n\nfor (let i = 0; i < 6; i++) {\n  const label = `Battery ${i + 1}`;\n  const t = temps[i];\n\n  payload.push({\n    series: \"Normal\",\n    property: label,\n    y: (t >= THRESH) ? null : t\n  });\n\n  payload.push({\n    series: \"Hot\",\n    property: label,\n    y: (t >= THRESH) ? t : null\n  });\n}\n\nconst dataMsg = {\n  action: \"replace\",\n  payload\n};\n\nreturn [updateMsg, dataMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "7c3257abbf34ef95"
            ],
            [
                "7c3257abbf34ef95"
            ]
        ]
    },
    {
        "id": "adb98b7d51630893",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "90ebb2c809166208",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "Battery2 Temp",
        "label": "Battery2 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "95ae31fe84c070e7",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "d8fa444f2eda4d51"
            ]
        ]
    },
    {
        "id": "d8fa444f2eda4d51",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 14",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "2009bc4bb080d246"
            ]
        ]
    },
    {
        "id": "2009bc4bb080d246",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 12,
        "width": 2,
        "height": 0,
        "name": "Battery3 Temp",
        "label": "Battery3 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "668897f42162515e",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "8a69fdc979c12ee2"
            ]
        ]
    },
    {
        "id": "8a69fdc979c12ee2",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 15",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "2dd5d4c047181bd2"
            ]
        ]
    },
    {
        "id": "2dd5d4c047181bd2",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 13,
        "width": 2,
        "height": 0,
        "name": "Battery4 Temp",
        "label": "Battery4 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "db2b775928787111",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "7e24d325d6abdfc8"
            ]
        ]
    },
    {
        "id": "7e24d325d6abdfc8",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 16",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "61c6f3f037e062a2"
            ]
        ]
    },
    {
        "id": "61c6f3f037e062a2",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 14,
        "width": 2,
        "height": 0,
        "name": "Battery5 Temp",
        "label": "Battery5 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "64d44a2fd8e3e59d",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "b65983bdcdaf2b3e"
            ]
        ]
    },
    {
        "id": "b65983bdcdaf2b3e",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 3",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "215f9dd96f5aeb2d"
            ]
        ]
    },
    {
        "id": "215f9dd96f5aeb2d",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 15,
        "width": 2,
        "height": 0,
        "name": "Battery6 Temp",
        "label": "Battery6 Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "c3dfae30b47ff822",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "5fdb37dc3a047887"
            ]
        ]
    },
    {
        "id": "5fdb37dc3a047887",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 4",
        "func": "msg.payload = (Math.random() * 100).toFixed(1); // Random 0-100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "007d6907c7c1444e"
            ]
        ]
    },
    {
        "id": "007d6907c7c1444e",
        "type": "ui-text",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "order": 16,
        "width": 3,
        "height": 0,
        "name": "Panel Temp:",
        "label": "Panel Temp: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "71f40d8362e12541",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "4eef9b426e0f1c90"
            ]
        ]
    },
    {
        "id": "4eef9b426e0f1c90",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 1",
        "func": "msg.payload = Math.floor(Math.random() * 51); // 0..50 mph\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "9198702407cdfcb9"
            ]
        ]
    },
    {
        "id": "7c3257abbf34ef95",
        "type": "ui-chart",
        "z": "f6ce0af4b3f21950",
        "group": "6db9f9b4ba633596",
        "name": "Battery temperatures",
        "label": "Battery Temperatures",
        "order": 11,
        "chartType": "bar",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "",
        "xAxisProperty": "property",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "80",
        "bins": 10,
        "action": "replace",
        "stackSeries": true,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a18a37929722f478",
        "type": "function",
        "z": "f6ce0af4b3f21950",
        "name": "function 5",
        "func": "msg.payload = Math.floor(Math.random() * 11); // 0..50 mph\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "e4f25eea2fdb103b"
            ]
        ]
    },
    {
        "id": "9198702407cdfcb9",
        "type": "ui-gauge-classic",
        "z": "f6ce0af4b3f21950",
        "name": "Motor L  Speed",
        "group": "6db9f9b4ba633596",
        "order": 7,
        "width": "2",
        "height": "2",
        "min": 0,
        "max": "160",
        "sectors": [
            {
                "start": "0",
                "color": "white"
            },
            {
                "start": "100",
                "color": "orange"
            }
        ],
        "major_division": "10",
        "minor_division": "5",
        "value_decimal_places": 1,
        "scale_decimal_places": 0,
        "label": "",
        "measurement": "L Speed",
        "units": "mph",
        "needles": [
            {
                "topic": "",
                "color": "black",
                "lengthPercent": "100"
            }
        ],
        "hubcolor": "black",
        "sweep_angle": "280",
        "keepwidth": true,
        "myclass": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "4588049260cb3631",
        "type": "ui-gauge-classic",
        "z": "f6ce0af4b3f21950",
        "name": "Motor R  Speed",
        "group": "6db9f9b4ba633596",
        "order": 3,
        "width": "2",
        "height": "2",
        "min": 0,
        "max": "160",
        "sectors": [
            {
                "start": "0",
                "color": "white"
            },
            {
                "start": "100",
                "color": "orange"
            }
        ],
        "major_division": "10",
        "minor_division": "5",
        "value_decimal_places": "0",
        "scale_decimal_places": 0,
        "label": "",
        "measurement": "R speed",
        "units": "mph",
        "needles": [
            {
                "topic": "",
                "color": "black",
                "lengthPercent": "100"
            }
        ],
        "hubcolor": "black",
        "sweep_angle": "280",
        "keepwidth": true,
        "myclass": "",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "e4f25eea2fdb103b",
        "type": "ui-gauge-classic",
        "z": "f6ce0af4b3f21950",
        "name": "RPM",
        "group": "6db9f9b4ba633596",
        "order": 9,
        "width": "2",
        "height": "2",
        "min": 0,
        "max": "10",
        "sectors": [
            {
                "start": "0",
                "color": "white"
            },
            {
                "start": "5.5",
                "color": "orange"
            },
            {
                "start": "6",
                "color": "red"
            }
        ],
        "major_division": "1",
        "minor_division": "1",
        "value_decimal_places": "1",
        "scale_decimal_places": 0,
        "label": "",
        "measurement": "rpm",
        "units": "x1000",
        "needles": [
            {
                "topic": "",
                "color": "black",
                "lengthPercent": "100"
            }
        ],
        "hubcolor": "black",
        "sweep_angle": "180",
        "keepwidth": true,
        "myclass": "",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d5e3fa638609392",
        "type": "pimcp3008",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "dev": "3008",
        "pin": "0",
        "dnum": "0",
        "bus": "1",
        "x": 400,
        "y": 820,
        "wires": [
            [
                "c50c89900aee1a3c"
            ]
        ]
    },
    {
        "id": "cd2d3bae3a099c91",
        "type": "pimcp3008",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "dev": "3008",
        "pin": "1",
        "dnum": "0",
        "bus": "1",
        "x": 140,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f75a7c5767055152",
        "type": "pimcp3008",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "dev": "3008",
        "pin": "2",
        "dnum": "0",
        "bus": "1",
        "x": 140,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "abb7dc0b98b9d679",
        "type": "pimcp3008",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "dev": "3008",
        "pin": "3",
        "dnum": "0",
        "bus": "1",
        "x": 140,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c50c89900aee1a3c",
        "type": "debug",
        "z": "f6ce0af4b3f21950",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "9b0bab4fdcbc653a",
        "type": "inject",
        "z": "f6ce0af4b3f21950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "1d5e3fa638609392"
            ]
        ]
    }
]